<% if session[:user_id] %>
  <h3>Add a Review</h3>
  <%= form_for Review.new(movie_id: @movie.id), id: 'reviews_form', remote: true do |f| %>
    <%= f.hidden_field :movie_id %>

    <div><%= f.label :body, "What did you think of this movie?" %></div>
    <div><%= f.select :rating, options_for_select(["1 star", '2 stars', '3 stars', '4 stars']) %></div>
    <div><%= f.text_area :content, rows: 4, cols: 50 %></div>

    <%= submit_tag "Add Review" %>
  <% end %>
<% else %>
  <p><em>Please <%= link_to "sign in", login_path %> to write a review!</em></p>
<% end %>

<h3>Reviews</h3>
<div id="reviews">
  <% @movie.reviews.each do |r| %>
    <%= render 'reviews/review', review: r %>
  <% end %>
</div>
<!-- html entitiy for a filled star: &#9733; -->
