<h1>
  <%= @movie.title %>
  <small>
    <%= link_to "Edit This Movie", edit_movie_path(@movie.id) %>
    <%= link_to "Delete This Movie", movie_path(@movie.id), :method => :delete %>
  </small>
</h1>

<%= render 'details' %>

<%= render 'reviews' %>
