<div id="<%= dom_id(review) %>">
  <hr>
  <p><strong><%= review.user.name %> said: <%= review.rating %> stars</strong></p>
  <p><%= review.content %></p>
  <p><%= link_to "(delete)", review, method: :delete, remote: true %>
</div>
